@import "tailwindcss";

@theme {
  --color-neon-pink: #ff00ff;
  --color-neon-blue: #00ffff;
  --color-neon-green: #00ff00;
  --color-neon-purple: #b026ff;
  --color-dark-bg: #050505;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  overflow: hidden;
}
